@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background: #FFF7ED;
  background: url("https://firebasestorage.googleapis.com/v0/b/id-card-generator-ef058.appspot.com/o/bg.png?alt=media&token=859dc759-3cb6-4092-bd06-e18a15747e09");
}

.container {
  width: 83.333333%;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 93.666667%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 96.666667%;
  }
}

@media (max-width: 650px) {
  .container {
    width: 97.666667%;
  }
}